.button {
    width: 319.12px;
    height: 86.24px;
    background: #D1F470;
    border: 1.65844px solid #D1F470;
    box-shadow: 9.95064px 9.95064px 0px #000000;
    margin: 3rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 33px;
    text-align: center;
    padding: 1rem;
    }