.body {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.customcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 335px;
    height: 505px;
    border: 2px solid black;
    box-shadow: 9.95064px 9.95064px 0px #000000;
    margin: auto;
}
.input {
    width: 300px;
    height: 80px;
    background: #D1F470;
    border: 1.65844px solid #D1F470;
    box-shadow: 9.95064px 9.95064px 0px #000000;
    margin: 1rem;
}
.button {
    background-color: #D1F470;
    width: 280px;
    height: 80px;
    border: 1.65844px solid #D1F470;
}
.select{
    width: 300px;
    height: 50px;
    
}